<h1 style="text-align: center;"> Student Detail view</h1>
 
 <div style="text-align: center;">

    <h3>First Name: &nbsp;<span>{{ object.first_name }}</span></h3>
    <h3>Last Name: &nbsp;<span>{{ object.last_name }}</span></h3>
    <h3>Student Class: &nbsp;<span>{{ object.student_class }}</span></h3>
    <h3>Gender: &nbsp;<span>{{ object.gender }}</span></h3>
    <h3>Mentor: &nbsp;<span>{{ object.mentor }}</span></h3>
    <h3>Parent: &nbsp;<span>{{ object.parent }}</span></h3>
    <h3>DOB: &nbsp;<span>{{ object.dob }}</span></h3>

</div>